<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>B.Urglar Community</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<header class="header">
    <div class="company">
        <span class="company-name"><a href="/">B. Urglar's community site</a></span>
    </div>
    <div class="user">
        <a href="/profile?userId={{user_id}}" class="user-profile-link">
        <span class="user-name">{{user_name}}</span>
        <span class="user-profile-text">User profile</span>
        </a>
    </div>
</header>

<main class="main">
    <section class="intro">
            <h1>Welcome to my cool hacker community site!</h1>
            <p>This website is my attempt at creating the first Cool Hackers™ community, and began back in the early days of 1998.<br />
                Are you a cool hacker tired of all the other boring hackers? Join today!</p>
    </section>

    <section class="news">
        <h2>News</h2>
        <p><i>2013-03-09 by brad</i><br />
            Woah, this site is still up?! The user database appears to be slightly corrupted, but I'm too cool/busy to fix that stuff now.<br /><br />Kind regards,<br />Bradley Urglar<br />Senior Tech Lead and VP of Creative Hacking at Metapplebet™
        </p>
        <hr />
        <p><i>2003-08-04 by brad</i><br />
            Yo hackpeepz!<br />I've got this radical new API I'd like y'all to test.<br />Call the <code>/secret</code> endpoint on this webserver, with your personal API key in the <code>Authorization</code>-header. You should find your API key on your user profile :D</p>
        <hr />
        <p><i>2003-08-03 by brad</i><br />
            hi hackpeepz, I accidentally deleted the old news post. Oops. Brad</p>

    </section>

</main>

<footer class="footer">
    © Bradley Urglar 1998-2022

</footer>
</body>
</html>
