<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login | B.Urglar Community</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<header class="header">
    <div class="company">
        <span class="company-name"><a href="/">B. Urglar's community site</a></span>
    </div>
</header>

<main class="main">
    <section class="login">
        <h1>{{ message }}</h1>
        <form action="" method="post" class="login-form">
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button type="submit">log in</button>
        </form>
    </section>
</main>

<footer class="footer">
    © Bradley Urglar 1998-2022

</footer>
</body>
</html>
