<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{profile_name}}'s profile | B.Urglar Community</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<header class="header">
    <div class="company">
        <span class="company-name"><a href="/">B. Urglar's community site</a></span>
    </div>
    <div class="user">
        <a href="/profile?userId={{user_id}}" class="user-profile-link">
            <span class="user-name">{{user_name}}</span>
            <span class="user-profile-text">User profile</span>
        </a>
    </div>
</header>

<main class="main">
    <section class="profile">
        <h1>{{message}}</h1>
    </section>

</main>

<footer class="footer">
    © Bradley Urglar 1998-2022

</footer>
</body>
</html>
